.currentTemplateWraper {
  margin-top: 60px;
  margin-left: 200px;
  height: 700px;
  width: 1000px;
  position: sticky;
  top: 120px;
  border: 2px solid rgba(125, 74, 234, 0.6);
  background-color: rgba(125, 74, 234, 0.144);
}
