.currentTemplateSection {
  margin-left: 100px;
  width: 740px;
  height: 100%;
  position: relative;
  top: 0px;
  background-color: rgba(125, 74, 234, 0.144);
  background: rblueed;
}

.currentTemplateWraper {
  width: 90%;
  height: 23%;
  border: rgba(125, 74, 234, 0.596) 1px solid;
  position: sticky;
  top: -220px;
}
