.card {
  width: 1680px;
  margin: 0px auto;
  height: 910px;
  background: linear-gradient(180deg, #ffffff 0%, #e3f2f7 100%);
}

.wraper {
  width: 1128px;
  margin: 0px auto;
  height: 910px;
}

.info {
  margin: 0px auto;
  background-color: #666666;
  width: 1680px;
  height: 630px;
  position: relative;

  .data {
    display: flex;
    position: absolute;

    top: 350px;
    left: 240px;
    .dataEach {
      margin-right: 120px;
      * {
        padding: 0px;
        margin: 0px;
      }
    }

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 72px;
      line-height: 80px;
      letter-spacing: -0.03em;
      color: #ffffff;
      width: 168px;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.03em;
      color: #ffffff;
      max-width: 100px;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.015em;
      color: #ffffff;
      max-width: 280px;
    }
  }
}

.PageBody {
  display: flex;
  flex-direction: column;
  max-width: 1128px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 20px;
  }

  .modalexp {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.015em;
    margin-bottom: 60px;
  }

  button {
    margin-left: 12px;
    background: #7d4aea;
    color: #ffffff;
    box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
    border-radius: 12px;
    width: 171px;
    height: 60px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
  }

  .pros {
    display: flex;

    p {
      margin-right: 20px;
    }
  }

  .empty {
    width: 500px;
    height: 315px;
    align-self: flex-end;

    background: linear-gradient(
      239.75deg,
      rgba(255, 255, 255, 0.7) 1.2%,
      rgba(255, 255, 255, 0) 70.51%
    );

    border-radius: 40px 40px 0px 0px;
  }
}

.Stage {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 99px;
    background: #eaeaea;
    margin-right: 15px;
  }
}

.templates {
  display: flex;
  background-color: #ffffff;
  width: 1225px;
  margin: 0px auto;

  .templatesTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .AllTemplatesWraper {
    height: 660px;
    width: 1194px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .TemplateEach {
      width: 276px;
      height: 200px;
      background: #f5f5f5;
      border: 1px solid #eaeaea;
      border-radius: 12px;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .SelectTemplate {
        width: 276px;
        height: 200px;
        border-radius: 12px;
        position: absolute;
        transition: all 0.2s ease-in-out;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 74px;
          left: 55px;
          width: 165px;
          height: 50px;
          background: #ffffff;
          box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.27);
          border-radius: 12px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          letter-spacing: -0.03em;
          color: #7d4aea;
          display: none;
        }
      }
    }
    :hover {
      .SelectTemplate {
        background: rgba(125, 74, 234, 0.6);
        div {
          display: flex;
        }
      }
    }
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #000000;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
  }
}

.AppearancePage {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  margin-top: 168px;
  width: 1225px;
  height: 1700px;

  .AppearancePageEdit {
    display: flex;
    flex-direction: column;

    .CustomizeSizeWraper {
      .sizes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 257px;
        height: 48px;
        background: #f5f5f5;
        border-radius: 12px;

        div {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75px;
          height: 42px;
          transition: background ease-in-out 0.1s;
          line-height: 18px;
          border-radius: 10px;

          font-size: 14px;
          color: #777777;
        }
      }
    }
    .CustomizePositionWraper {
      .Positions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 82px;
        height: 55px;

        .positionsEach {
          width: 24px;
          height: 15px;
          background: #ffffff;
          border: 1px solid #dddddd;
        }

        .sizeSelected {
          width: 24px;
          height: 15px;
          border: 1px solid #dddddd;
          background: #7d4aea;
        }
      }
    }
    .CustomizeColorsWraper {
      width: 253px;
      height: 75px;

      .Colors {
        display: flex;

        .colorsEach {
          border: 1px solid rgba(0, 0, 0, 0.3);
        }

        .colorSelected {
          box-shadow: #7d4aea 0px 0px 0px 3px;
        }
      }
    }
  }

  .currentTemplateWraper {
    margin-top: 60px;
    margin-left: 300px;
    height: fit-content;
  }
}

.sizeSelected {
  background: #ffffff;
  font-weight: 600;

  p {
    color: #000000;
  }
}
